.portfolio__projects {
  padding: 4rem;
}

.portfolio__projects h3 {
  color: var(--green);
  font-size: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  margin-bottom: 4rem;
}

.portfolio__projects-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.portfolio__project {
  background: var(--light-navy);
  border-radius: 15px;
  cursor: pointer;
}

.portfolio__project-img {
  height: 230px;
  width: 100%;
}

.portfolio__project-img img {
  height: 230px;
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  object-position: 50% 50%;
}

.portfolio__project-content {
  color: var(--lightest-slate);
  padding: 1rem 2rem;
}

.portfolio__project-content h4 {
  color: var(--slate);
  font-size: 24px;
}

.portfolio__project-content p {
  margin: 1rem 0;
}

.portfolio__project-content ul {
  display: flex;
  margin-bottom: 2rem;
}

.portfolio__project-content li {
  margin-right: 1rem;
}

.portfolio__project-content a {
  margin-right: 30px;
}

@media screen and (max-width: 1050px) {
  .portfolio__projects {
    padding: 6rem;
  }
  .portfolio__projects-showcase {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__project {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__projects {
    padding: 2rem;
  }
  .portfolio__projects-showcase {
    grid-template-columns: repeat(1, 1fr);
  }
}
