.portfolio__projects {
  padding: 4rem;
  padding-top: 6rem;
}

.portfolio__projects h3 {
  color: var(--green);
  font-size: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  margin-bottom: 4rem;
}

.portfolio__projects-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media screen and (max-width: 1050px) {
  .portfolio__projects {
    padding: 6rem;
  }
  .portfolio__projects-showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .portfolio__projects {
    padding: 2rem;
  }
  .portfolio__projects-showcase {
    grid-template-columns: repeat(1, 1fr);
  }
}
