.portfolio__about {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3rem;
  background: var(--light-navy);
  padding: 2rem;
  border-radius: 15px;
}

.portfolio__about-content,
.portfolio__about-skills {
  padding: 2rem;
}

.portfolio__about-content h2 {
  color: var(--green);
  font-size: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  margin-bottom: 2rem;
}

.portfolio__about-skills h3 {
  color: var(--slate);
  font-size: 24px;
  max-width: 80%;
  padding: 2rem;
}

.portfolio__about-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--lightest-slate);
}

.portfolio__about-skills__iconsContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1rem;
  padding: 2rem;
}

@media screen and (max-width: 1050px) {
  .portfolio__about {
    display: block;
    padding: 6rem;
  }
  .portfolio__about-skills__iconsContainer {
    padding: 3rem 0;
  }
  .portfolio__about-content,
  .portfolio__about-skills {
    padding: 0;
  }
  .portfolio__about-skills h3 {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__about {
    padding: 2rem;
  }
  .portfolio__about-skills__iconsContainer {
    grid-template-columns: repeat(3, 33.3%);
  }
}
