* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background:  background: var(--dark-navy);
}

body {
  background: var(--dark-navy);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}
.App {
  background: var(--navy);
  /* max-width: 2000px; */
  margin: auto;
}
.container {
  max-width: 1280px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
